.clear {
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 10px;

  @media (max-width: 640px) {
    width: 270px;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 40px;

    @media (max-width: 640px) {
      font-size: 1rem;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
}
