.clear {
  padding: 20px;
  background-color: white;
  border-radius: 10px;

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 40px;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
}
