ul {
  list-style-type: none;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    transition: box-shadow 0.4s ease-in, background-color 0.4s ease-in;

    &:hover {
      box-shadow: var(--shadow-color) 0px 2px 8px 0px;
    }

    &.active {
      background-color: var(--shadow-color);
    }

    &:not(:last-child) {
      margin-bottom: 1px;
    }

    span {
      margin-left: 20px;
      margin-right: auto;
    }

    input[type="checkbox"] {
      appearance: none;
      background-color: transparent;
      font: inherit;
      width: 1.2em;
      height: 1.2em;
      border: 0.15em solid var(--primary-color);
      border-radius: 50%;
      display: grid;
      place-content: center;

      &::before {
        content: "";
        width: 0.55em;
        height: 0.55em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;

        background-color: var(--primary-color);
        transition: var(--transition);
      }

      &:checked::before {
        transform: scale(1);
      }
    }

    .buttons {
      display: flex;
      gap: 30px;

      @media (max-width: 640px) {
        gap: 10px;
      }

      button {
        svg {
          height: 20px;
          width: 20px;
        }

        outline: none;
      }

      .delete-btn {
        color: var(--danger-color);
        transition: var(--transition);

        &:hover {
          transform: scale(1.15);
        }
      }

      .edit-btn {
        color: var(--edit-color);
        transition: var(--transition);

        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }
}
