header {
  z-index: 10;
  box-shadow: var(--shadow-color) 0px 10px 10px -10px;
  padding: 40px 0;
  background-color: var(--bg-color);
  transition: var(--transition);

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    h1 {
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
      color: var(--primary-color);
      font-weight: 700;

      button {
        text-align: left;
      }

      @media (max-width: 640px) {
        font-size: 1.5rem;
      }
    }
  }
}
